.nav {
    position: sticky;
    top: var(--top-nav-height);
    height: calc(100vh - var(--top-nav-height));
    flex: 0 0 auto;
    overflow-y: auto;
    padding: 2.5rem 2rem 2rem;
    border-right: 1px solid var(--border-color);
    width: 20rem;
}

.span {
    font-size: larger;
    font-weight: 500;
    padding: 0.5rem 0 0.5rem;
}

.ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: .5rem;
    font-weight: lighter;
}

.li {
    list-style: none;
    margin: 0;
}

.li :global(a) {
    text-decoration: none;
}

.li :global(a:hover),
.li.active :global(a) {
    font-weight: normal;
}